/* 
1rem = 16px || 100%
1px = 16/100 = 6.25%
10px = 6.25%*10 = 62.5%
Now
1rem = 10px || 62.5%
*/
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
  
body {
    margin: 0;
    overflow-x: hidden;
    background-color: var(--colorPrimary);
    /* 'Inter', */
    font-family:  sans-serif;
    padding-top: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* MAIN CONTAINER */
.home {
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(10px);
    background-color: var(--transparentBackground);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--topbarBoxShadow)
}

.topbar__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120rem;
    padding: 2rem;
}

.topbar__title {
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--colorSecondary);
    z-index: 1;
}

.table__header {
    line-height: 3.4rem;
    font-weight: 600;
    font-size: 2rem;
    color: var(--colorSecondary);
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

/* media query for responsiveness - START */

@media (max-width: 500px) {
    body {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 6rem;
    }

    .topbar__container {
        padding: 1rem;
    }

    .topbar__title {
        font-size: 1.8rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .table__header {
        text-align: center;
        font-size: 1.4rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
}

/* media query for responsiveness - END */