/* coin lists container - START */
.coin {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
/* coin lists container - END */

/* coin item container - START */
.table__container {
    cursor: pointer;
    position: relative;
    display: flex;
    background-color: var(--coinItemBg);
    backdrop-filter: blur(10px);
    padding: 2rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
}

.table__container:hover {
    background-color: var(--coinItemHover);
}
/* coin item container - END */

/* coin image container - START */
.table__image-container {
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__image {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 1.2rem;
}
/* coin image container - END */

/* coin item text - START */
.table__item {
    color: var(--colorSecondary);
    font-size: 1.4rem;
    width: 14rem;
}

.table__item-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
}

.table__item-price {
    width: 7rem;
}

.table__item-start {
    /* align text left for more responsiveness */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 10.5rem;
}

.table__item-end {
    /* align text right for more responsiveness */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}

.table__item-24h {
    width: 8rem;
}

.table__item-profit {
    color: var(--colorProfit);
}

.table__item-loss {
    color: var(--colorLoss);
}
/* coin item text - END */

/* object blur below coin item - START */
/* .blur {
    position: absolute;
    border-radius: 1rem;   
}

.blur__1 {
    width: 2.5rem;
    height: 2.5rem;
    right: 2rem;
    filter: blur(5rem);
}

.blur__1--loss {
    background-color: red;
}


.blur__2 {
    width: 10rem;
    height: 1rem;
    right: 50rem;
    filter: blur(10rem);
}

.blur__1--profit {
    background-color: green;
    filter: 2rem;
    height: 2rem;
}

.blur__2--profit {
    background-color: green;
    filter: 5rem;
    height: 2rem;
} */

/* object blur below coin item - END */


/* media query for responsiveness - START */

@media (max-width: 450px) {
    .table__item {
        font-size: 1.6rem;
    }
}

/* media query for responsiveness - END */