/* 
1rem = 16px || 100%
1px = 16/100 = 6.25%
10px = 6.25%*10 = 62.5%
Now
1rem = 10px || 62.5%
*/
html {
    font-size: 62.5%;
    overflow-x: hidden;
    overflow-y:scroll;
}
  
body {
    margin: 0;
    overflow-x: hidden;
    background-color: var(--colorPrimary);
    /* 'Inter', */
    font-family:  sans-serif;
    padding-top: 8rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.privacy {
  background-color: var(--colorPrivacy);
  padding: 2rem;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  color: var(--colorPrimary);
  font-size: 1.2rem;
  font-weight: 500;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.6rem;
  transition: opacity 0.35s;
}

.privacy__close {
  cursor: pointer;
  font-size: 1.4rem;
  margin-left: 1rem;
}

::-moz-selection {
    /* Code for Firefox */
    color: var(--colorSecondary);
    background: var(--colorViolate);
  }
  
  ::selection {
    color: var(--colorSecondary);
    background: var(--colorViolate);
  }


  @media (max-width: 500px) {
    body {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 6rem;
    }
}